html {
  --light: #d8dbe0;
  --dark: #151515;
  --secondary-background: rgba(20, 32, 43, 1);
  --secondary-color: rgb(49, 80, 109);
  --third-color: rgb(100, 85, 65);
  --fourth-color: rgb(105, 105, 105);
  scroll-behavior: smooth;
  font-size: 16px;
  min-height: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#14202b+10,151515+15,151515+87,14202b+100 */
  background-image: var(--dark); /* Old browsers */
  background-image: -moz-linear-gradient(
    top,
    var(--secondary-background) 10%,
    var(--dark) 15%,
    var(--dark) 87%,
    var(--secondary-background) 100%
  ); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(
    top,
    var(--secondary-background) 10%,
    var(--dark) 15%,
    var(--dark) 87%,
    var(--secondary-background) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(
    to bottom,
    var(--secondary-background) 10%,
    var(--dark) 15%,
    var(--dark) 87%,
    var(--secondary-background) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14202b', endColorstr='#14202b',GradientType=0 ); /* IE6-9 */
  color: white;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--light);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

/* 
START CURSOR
*/

.cursor {
  pointer-events: none;
}

.cursor .ball {
  position: fixed;
  top: -50;
  left: -50;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor .ball circle {
  fill: var(--light);
}

/* 
END CURSOR
*/
/*
START ELEMENTS FADE IN
*/
.will-fadeIn{
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.fadeIn {
  animation: fadeIn .5s ease .1s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}
/*
END ELEMENTS FADE IN
*/
/* 
START NAV BAR
*/

.nav-bar {
  position: sticky;
  display: flex;
  overflow: hidden;
  justify-content: center;
  z-index: 10;
  width: 100%;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  min-height: 6rem;
  height: 8%;
  top: 0;
  transform: translateY(-100%);
  visibility: 0;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  animation: nav-bar 0.5s 2.5s forwards;
}

@keyframes nav-bar {
  100% {
    transform: translateX(0%);
    visibility: 1;
  }
}

.nav-bar .nav-bar-top {
  display: none;
}

.nav-bar .nav-bar-element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0.6rem;
  min-height: 6rem;
  color: white;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s, text-shadow 0.3s;
}

.nav-bar .nav-bar-element:hover {
  text-shadow: 1px 1px 2px var(--light);
}

/* 
STOP NAV BAR
*/
/* 
START HELLO WORLD TEXT
*/

.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin-top: 10rem;
  animation: header-container 1.5s forwards;
}

@keyframes header-container {
  100% {
    opacity: 1;
  }
}

.header-container .big-hello-world {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  left: 50%;
  top: 16rem;
  height: 15.5rem;
  width: 100%;
  transform: translate(-50%, -50%);
}

.header-container .big-hello-world span {
  display: inline-block;
  font-size: 3.5rem;
  letter-spacing: 5rem;
  text-align: center;
  user-select: none;
  line-height: 7.5rem;
  margin-right: -5rem;
  margin-top: 0px;
  animation: big-hello-world 0.5s 2s forwards;
}

@keyframes big-hello-world {
  100% {
    margin-top: 496px;
  }
}

.header-container .hello-world-name-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 34rem;
  padding-left: 2.5rem;
}

.links-container {
  display: flex;
  overflow: hidden;
  height: 3rem;
  gap: 1rem;
}

.links-container a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 3rem;
  height: 3rem;
  animation: links-container-a 0.5s ease 2.5s forwards;
}

@keyframes links-container-a {
  100% {
    margin-top: 0rem;
  }
}

.links-container a svg {
  margin-bottom: 0rem;
  width: 2rem;
  height: 2rem;
  fill: none;
  stroke: var(--light);
  stroke-width: 1;
  stroke-miterlimit: 10;
  transition: margin-bottom 0.3s;
}

.links-container a:hover svg {
  margin-bottom: 1rem;
  transition: margin-bottom 0.3s;
}

.links-container .mail-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border: 1px solid var(--light);
  border-radius: 2rem;
  padding: 0rem 1rem;
  height: 1.8rem;
  margin-top: 5rem;
  margin-bottom: 0rem;
  transition: background-color 0.5s, color 0.5s;
  animation: links-container-mail 0.5s ease 2.5s forwards;
}

.links-container .mail-link-container:hover {
  background-color: var(--light);
  color: var(--secondary-color);
}

@keyframes links-container-mail {
  100% {
    margin-top: 0.5rem;
  }
}

/* 
END HELLO WORLD TEXT
*/
/* 
START MY NAME, POSITION AND PHOTO
*/
.header-container .hello-world-name-container .my-name-text {
  color: white;
  font-size: 7.5rem;
  transform: translateX(-800px);
  animation: my-name-text 0.5s ease 2.1s forwards;
}

@keyframes my-name-text {
  100% {
    transform: translateX(0px);
  }
}

.header-container .hello-world-name-container .current-position-container {
  position: absolute;
  transform: translateY(20.8rem) translateX(20.5rem);
  overflow: hidden;
}

.header-container
  .hello-world-name-container
  .current-position-container
  .current-position {
  color: transparent;
  font-size: 2rem;
  text-align: right;
  -webkit-text-stroke: 0.03rem var(--light);
  white-space: nowrap;
  transform: translateY(8.1rem);
  animation: current-position 0.5s ease 2.5s forwards;
}

@keyframes current-position {
  100% {
    transform: translateY(0rem);
  }
}

.header-container .photo-carousel {
  margin-top: 3rem;
  width: 31rem;
  height: 25rem;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(calc(100% + 650px));
  animation: photo-carousel 0.5s ease 2.5s forwards;
}

@keyframes photo-carousel {
  100% {
    transform: translateX(0px);
  }
}

.header-container .photo-carousel .photo-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.header-container .photo-carousel .photo-cards .photo-card {
  position: absolute;
  width: 18.8rem;
  height: 22.6rem;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.header-container .photo-carousel .photo-cards .photo-card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#first-image:checked ~ .photo-cards #third-image-label,
#second-image:checked ~ .photo-cards #first-image-label,
#third-image:checked ~ .photo-cards #second-image-label {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#first-image:checked ~ .photo-cards #second-image-label,
#second-image:checked ~ .photo-cards #third-image-label,
#third-image:checked ~ .photo-cards #first-image-label {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#first-image:checked ~ .photo-cards #first-image-label,
#second-image:checked ~ .photo-cards #second-image-label,
#third-image:checked ~ .photo-cards #third-image-label {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#first-image:checked ~ .photo-cards #first-image-label img,
#second-image:checked ~ .photo-cards #second-image-label img,
#third-image:checked ~ .photo-cards #third-image-label img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

/* 
STOP MY NAME, POSITION AND PHOTO
*/
/*
START CONTENT
*/
.main-content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  gap: 200px;
  padding: 14rem 15% 0 15%;
  margin-top: 9rem;
  animation: main-content 0.3s 2.7s forwards;
  transition: padding 0.5s;
}

@keyframes main-content {
  100% {
    opacity: 1;
  }
}
/*
START SECTION TITLE
*/
.section-title-container {
  display: flex;
  white-space: nowrap;
}

.section-title-container .text {
  position: absolute;
  margin-left: 0.4rem;
  margin-top: 0.8rem;
  font-size: 5rem;
  color: var(--secondary-color);
  height: 5rem;
}

.section-title-container .third-color {
  color: var(--third-color);
  margin-left: 0.2rem;
  margin-top: 0.6rem;
}

.section-title-container .fourth-color {
  color: var(--fourth-color);
  margin-left: 0rem;
  margin-top: 0.4rem;
}

/*
END SECTION TITLE
*/
/* 
START ABOUT ME SECTION
*/

.main-content .about-me-section {
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.main-content .about-me-section .about-me-section-title {
  width: 25rem;
  height: 5rem;
}

/* 
START COFFEE CUP
*/

.about-me-section .coffee-container {
  display: inline-block;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
}

.about-me-section .coffee-container .cup {
  position: absolute;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  z-index: 9;
  transition: padding-left 0.5s;
}

.about-me-section .coffee-container .cup .cup-body {
  position: absolute;
  max-height: 14rem;
  max-width: 14rem;
  height: 14rem;
  width: 14rem;
  background-image: linear-gradient(to right, #b9b9b9, #ffffff);
  margin-left: 3rem;
  margin-top: 4.8rem;
  border-bottom-left-radius: 100%50%;
  border-bottom-right-radius: 100%50%;
  z-index: 1;
  transition: border-bottom-left-radius 0.3s, border-bottom-right-radius 0.3s,
    max-height 0.3s, max-width 0.3s, width 0.3s, margin-top 0.3s,
    margin-left 0.3s;
}

.about-me-section .coffee-container .cup .cup-margin-shape {
  position: absolute;
  max-height: 9.4rem;
  max-width: 14rem;
  height: 9.4rem;
  width: 14rem;
  background-image: linear-gradient(to right, #b9b9b9, #ffffff);
  margin-top: 0rem;
  margin-left: 3rem;
  border-radius: 50%;
  z-index: 5;
  transition: height 0.3s, max-height 0.3s, max-width 0.3s, width 0.3s,
    margin-top 0.3s, margin-left 0.3s;
}

.about-me-section .coffee-container .cup .cup-black-shape {
  position: absolute;
  overflow: hidden;
  max-height: 8.1rem;
  max-width: 13rem;
  height: 8.1rem;
  width: 13rem;
  background-image: linear-gradient(to left, #151515 70%, #353535);
  margin-top: 0.5rem;
  margin-left: 3.5rem;
  border-radius: 50%;
  z-index: 5;
  transition: height 0.3s, max-height 0.3s, max-width 0.3s, width 0.3s,
    margin-left 0.3s;
}

.about-me-section .coffee-container .cup .cup-black-shape .coffee {
  position: absolute;
  max-height: 8.1rem;
  max-width: 13rem;
  height: 8.1rem;
  width: 13rem;
  background-image: radial-gradient(#ca9970, #866247);
  margin-top: 2rem;
  margin-left: 0;
  border-radius: 50%;
  z-index: 6;
  transition: max-height 0.3s, height 0.3s, max-width 0.3s, width 0.3s,
    margin-left 0.3s, margin-top 0.3s;
}

.about-me-section .coffee-container .cup .cup-black-shape .coffee .coffee-text {
  opacity: 1;
  font-size: 5rem;
  color: #e4cbb6;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-left: -0.3rem;
  transform: perspective(400px) rotateX(40deg) rotateZ(-1deg);
  transition: margin-left 0.3s, margin-top 0.3s, transform 0.3s, font-size 0.3s,
    opacity 0.3s;
}

.about-me-section .coffee-container .cup .cup-black-shape .coffee .joke-text {
  font-size: 0;
  color: #e4cbb6;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s;
}

/* 
START COFFEE CUP ANIMATION
*/

.about-me-section .coffee-container .cup:hover .cup-body {
  margin-left: 1rem;
  margin-top: 9.4rem;
  max-height: 0rem;
  width: 17.5rem;
  max-width: 17.5rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: border-bottom-left-radius 0.1s, border-bottom-right-radius 0.1s,
    max-height 1s, max-width 0.6s, width 0.6s, margin-top 0.5s, margin-left 1s;
}

.about-me-section .coffee-container .cup:hover .cup-margin-shape {
  max-height: 18.5rem;
  margin-left: 1rem;
  height: 18.5rem;
  max-width: 18.5rem;
  width: 18.5rem;
  transition: max-height 0.5s, height 0.5s, max-width 0.5s, width 0.5s,
    margin-left 0.5s;
}

.about-me-section .coffee-container .cup:hover .cup-black-shape {
  max-height: 17.5rem;
  margin-left: 1.5rem;
  height: 17.5rem;
  max-width: 17.5rem;
  width: 17.5rem;
  transition: max-height 0.5s, height 0.5s, max-width 0.5s, width 0.5s,
    margin-left 0.5s;
}

.about-me-section .coffee-container .cup:hover .cup-black-shape .coffee {
  max-height: 17.5rem;
  margin-left: 0rem;
  margin-top: 0rem;
  height: 17.5rem;
  max-width: 17.5rem;
  width: 17.5rem;
  transition: max-height 0.5s, height 0.5s, max-width 0.5s, width 0.5s,
    margin-left 0.5s, margin-top 0.5s;
}

.about-me-section
  .coffee-container
  .cup:hover
  .cup-black-shape
  .coffee
  .coffee-text {
  font-size: 6.8rem;
  margin-left: 0.25rem;
  margin-top: 5.3rem;
  transform: perspective(400px) rotateX(0deg);
  opacity: 0;
  transition: margin-left 0.5s, margin-top 0.5s, transform 0.5s,
    opacity 0.5s 0.5s, font-size 0.5s;
}

.about-me-section
  .coffee-container
  .cup:hover
  .cup-black-shape
  .coffee
  .joke-text {
  margin-left: 0rem;
  margin-top: -6.8rem;
  opacity: 1;
  font-size: 1rem;
  transition: margin-left 0s 1s, margin-top 0s 1s, opacity 0.5s 1s,
    font-size 0s 1s;
}

/* 
STOP COFFEE CUP ANIMATION
*/
/* 
STOP COFFEE CUP
*/
/*
START PERSONAL DESCRIPTION
*/

.about-me-section .personal-description {
  display: inline-block;
  font-size: 1.5rem;
  width: 68%;
  vertical-align: top;
}

/*
END PERSONAL DESCRIPTION
*/
/* 
STOP ABOUT ME SECTION
*/
/* 
START SKILLS SECTION
*/
.skills-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  color: white;
  overflow: hidden;
  padding-top: 6.2rem;
}

.skills-section .skills-section-title {
  margin-left: 11%;
  width: 13rem;
  height: 5.3rem;
}

.skills-section .skill-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  box-shadow: inset 0px 0px 0px 0.3rem var(--light);
  width: 100%;
  border-radius: 6.2rem;
  transition: background-color 0.5s;
}

.skills-section .skill-category-container:hover {
  background-color: var(--light);
}

.skills-section .skill-category-container .skill-section-title {
  width: 18rem;
  align-self: center;
  text-align: center;
  margin: 4rem;
  font-size: 2.5rem;
  color: var(--light);
  transition: color 0.5s;
}

.skills-section .skill-category-container:hover .skill-section-title {
  color: var(--dark);
}

.skills-section .skill-category-container .content-contaier {
  display: flex;
  width: 100%;
}

.skills-section .skill-category-container .content-contaier .circles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.skills-section
  .skill-category-container
  .content-contaier
  .circles-container
  .skill-container {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 250px;
  transition: width 0.3s, font-size 0.3s;
}

.skills-section
  .skill-category-container
  .content-contaier
  .circles-container
  .skill-container
  .svg-circle {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-60deg) rotateY(180deg);
}

.skills-section
  .skill-category-container
  .content-contaier
  .circles-container
  .skill-container
  .svg-circle
  .skill-circle-bar {
  fill: transparent;
  stroke: var(--light);
  stroke-width: 20;
  stroke-dasharray: 500;
  stroke-dashoffset: var(--stroke-dashoffset-final-value);
  stroke-linecap: round;
  transition: stroke 0.5s;
}

.skills-section
  .skill-category-container:hover
  .content-contaier
  .circles-container
  .skill-container
  .svg-circle
  .skill-circle-bar {
  stroke: var(--dark);
}

.skills-section
  .skill-category-container
  .content-contaier
  .circles-container
  .skill-container
  .svg-circle
  .full-circle-bar {
  fill: transparent;
  stroke: rgba(0, 0, 0, 0.9);
  stroke-width: 20;
  stroke-dasharray: 500;
  stroke-dashoffset: 165;
  stroke-linecap: round;
  transition: stroke 0.5s;
}

.skills-section
  .skill-category-container:hover
  .content-contaier
  .circles-container
  .skill-container
  .svg-circle
  .full-circle-bar {
  stroke: rgba(0, 0, 0, 0.2);
}

.skills-section
  .skill-category-container
  .content-contaier
  .circles-container
  .skill-container
  .skill-circle-text {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 50%;
  top: 50%;
  font-size: 11px;
  fill: rgba(0, 0, 0, 0.9);
}

.skills-section
  .skill-category-container:hover
  .content-contaier
  .circles-container
  .skill-container
  .skill-circle-text {
  fill: var(--dark);
}

.skills-section
  .skill-category-container
  .content-contaier
  .circles-container
  .skill-container
  .advanced-skill-level {
  margin-left: -25px;
  margin-top: 14px;
  transform: translate(-50%, -50%) rotate(80deg);
}

.skills-section
  .skill-category-container
  .content-contaier
  .circles-container
  .skill-container
  .basic-skill-level {
  margin-left: 4px;
  margin-top: 25px;
  transform: translate(-50%, -50%) rotate(170deg);
}

.skills-section
  .skill-category-container
  .content-contaier
  .circles-container
  .skill-container
  .newbie-skill-level {
  margin-left: -25px;
  margin-top: -5px;
  transform: translate(-50%, -50%) rotate(280deg);
}

.skills-section
  .skill-category-container
  .content-contaier
  .circles-container
  .skill-container
  .skill-text {
  width: 210px;
  font-size: 1.2rem;
  color: var(--light);
  transition: color 0.5s;
}

.skills-section
  .skill-category-container:hover
  .content-contaier
  .circles-container
  .skill-container
  .skill-text {
  color: var(--dark);
  transition: color 0.5s;
}

.skills-section .skill-category-container .content-contaier .skill-hover-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  font-size: 1rem;
  width: 20px;
}

.skills-section
  .skill-category-container
  .content-contaier
  .skill-hover-info
  .current-skill {
  color: var(--light);
  width: 100px;
  transform: rotate(-90deg) translateY(-10px);
}

.skills-section
  .skill-category-container
  .content-contaier
  .skill-hover-info
  .skill-to-gain {
  color: var(--dark);
  width: 100px;
  transform: rotate(-90deg) translateY(-10px);
}

/* 
STOP SKILLS SECTION
*/
/* 
START WORK EXPERIENCE SECTION
*/

.work-experience-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 6.25rem;
}

.work-experience-section .work-experience-title {
  margin-left: 11%;
  width: 19rem;
  height: 11rem;
}

.work-experience-section .work-experience-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  gap: 3rem;
}

.work-experience-section .work-experience-container .experience-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.work-experience-section
  .work-experience-container
  .experience-container
  .experience-title {
  display: flex;
  width: fit-content;
  align-items: center;
  background-color: var(--light);
  color: var(--dark);
  border-radius: 3rem;
  padding-right: 1.25rem;
  font-size: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.work-experience-section
  .work-experience-container
  .experience-container
  .experience-title
  .circle {
  min-height: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 1.25rem;
  border: 0.65rem solid var(--dark);
  background-color: var(--light);
  border-radius: 3rem;
}

.work-experience-section
  .work-experience-container
  .experience-container
  .experience-content {
  display: flex;
  gap: 1rem;
}

.work-experience-section
  .work-experience-container
  .experience-container
  .experience-content
  .line {
  width: 1rem;
  border-radius: 0.6rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: var(--light);
}

.work-experience-section
  .work-experience-container
  .experience-container
  .experience-content
  .text-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  opacity: 0.6;
}
/* 
STOP WORK EXPERIENCE SECTION
*/
/*
START PROJECTS SECTION
*/
.projects-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 6.25rem;
}

.projects-section .projects-section-title {
  margin-left: 11%;
  width: 21rem;
  height: 6.25rem;
}

.projects-section .projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.projects-section .projects-container .project-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 15.3rem;
  width: 31.25rem;
  border: 0.125rem solid var(--light);
  border-radius: 1.25rem;
  transition: background-color 0.3s;
}

.projects-section .projects-container .project-container .project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-size: 1.5rem;
  height: 5rem;
  transition: color 0.3s;
}

.projects-section .projects-container .project-container .project-links {
  display: flex;
}

.projects-section
  .projects-container
  .project-container
  .project-links
  .split-container {
  position: relative;
  cursor: pointer;
}

.projects-section
  .projects-container
  .project-container
  .project-links
  .split-container
  img {
  width: 100%;
  height: 100%;
}

.projects-section
  .projects-container
  .project-container
  .project-links
  .split-container
  .on-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  width: 100%;
  height: 100%;
  opacity: 0;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.projects-section
  .projects-container
  .project-container
  .project-links
  .split-container:hover
  .on-hover {
  opacity: 0.6;
}
/*
END PROJECTS SECTION
*/
/*
START CONTACT SECTION
*/
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  padding-top: 6.25rem;
}

.contact-section .contact-section-title {
  width: 21rem;
  height: 5rem;
}

.contact-section .contact-button-container {
  display: flex;
}

.contact-section .contact-button-container .contact-button {
  height: 9.4rem;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2rem;
  text-align: center;
  box-shadow: inset 0 0 0 0.125rem var(--light), 0 0 0 0.125rem var(--light);
}

.contact-section .contact-button-container .contact-button .message-version {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9.4rem;
  background-color: var(--light);
  color: var(--dark);
  font-size: 2rem;
  transition: transform 0.5s;
}

.contact-section
  .contact-button-container
  .contact-button:hover
  .message-version {
  transform: translateY(-9.6rem);
}

.contact-section
  .contact-button-container
  .contact-button
  .message-version
  span {
  padding: 0 3rem;
}

.contact-section .contact-button-container .contact-button .mail-version {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9.4rem;
  background-color: var(--dark);
  color: var(--light);
  font-size: 2rem;
  transition: transform 0.5s;
}

.contact-section .contact-button-container .contact-button:hover .mail-version {
  transform: translateY(-9.4rem);
}

.contact-section .contact-button-container .contact-button .mail-version span {
  padding: 0 3rem;
  word-break: break-all;
}
/*
END CONTACT SECTION
*/
/*
END CONTENT
*/
/*
START FOOTER
*/
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.footer-section .copyright-text-container {
  font-size: 0.75rem;
  opacity: 0.6;
}
/*
END FOOTER
*/

/*
START MOBILE VERSION
*/

@media only screen and (max-width: 1100px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 6.25rem;
    margin-top: 4rem;
  }

  .header-container .photo-carousel {
    margin-top: 0px;
  }

  .skills-section .skill-category-container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 850px) {
  .nav-bar {
    flex-direction: column;
    justify-content: left;
    height: 95px;
  }

  .nav-bar .nav-bar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .nav-bar .nav-bar-top span {
    margin-left: 50px;
    font-size: 2rem;
  }

  .nav-bar .nav-bar-top svg {
    cursor: pointer;
    margin-right: 50px;
  }

  .nav-bar.nav-open {
    height: 665px;
  }

  .nav-bar .nav-bar-top .nav-open-hamburger {
    transform: rotate(-90deg);
  }

  .projects-section {
    justify-content: center;
    align-items: center;
  }

  .projects-section .projects-section-title {
    margin-left: 0%;
  }

  .work-experience-section {
    justify-content: center;
    align-items: center;
  }

  .work-experience-section .work-experience-title {
    margin-left: 0%;
  }

  .skills-section {
    justify-content: center;
    align-items: center;
  }

  .skills-section .skills-section-title {
    margin-left: 0%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .nav-bar {
    height: 72px;
  }

  .nav-bar.nav-open {
    height: 504px;
  }

  .work-experience-section .work-experience-container {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }

  .nav-bar {
    height: 48px;
  }

  .nav-bar.nav-open {
    height: 336px;
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }

  .projects-section
    .projects-container
    .project-container
    .project-links
    .split-container
    .on-hover {
    opacity: 0.6;
  }
}
/*
END MOBILE VERSION
*/
